dist
node_modules
*.log
*.env
backend/serviceAccountKey.json

# Backend (Python) ignores
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing / Demo folders
testingkushal/

# OS & Editor files
.DS_Store
.vscode/
.idea/